<input type="file" onchange="parseExcelFile1(this)">

<script>

  function parseExcelFile1(inputElement) {
    let files = inputElement.files || [];
    if (!files.length) return;
    let file = files[0];

    console.time();

    let reader = new FileReader()

    reader.onloadend = function (event) {
      let arrayBuffer = reader.result;

      var workbook = XLSX.read(arrayBuffer, {
            type: 'string',
            cellText: false,
            cellDates: true,
            WTF: true
        });

      var sheetName = workbook.SheetNames
      var sheet = workbook.Sheets[sheetName[0]]

      var range = XLSX.utils.decode_range(sheet['!ref']);
      var ncols = range.e.c - range.s.c + 1, nrows = range.e.r - range.s.r + 1;

      console.log(nrows);

      let rows = XLSX.utils.sheet_to_json(sheet, {
            blankrows: false,
            raw: false,
            dateNF: 'dd"/"mm"/"yyyy'
        })

      if (!rows.length) {
        throw 'Não foi possível ler os dados do arquivo.';
      }

      console.log(rows)

      console.timeEnd();
    
    };

    // reader = file.readerBase64(); 

    reader.readAsArrayBuffer(file);
    // reader.readAsText(file);   // esse buga o arquivo .xlsx 

  }

</script>

<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>